
    <form name="myForm" method="POST"  action="/generated-user">
        
        <section class="input-container">
            <label for="name">Name:</label>
            <input  type="text" name="name" id="name">
            <label class="errorMessage"> {{errorMessages}} </label>

            <label for="email">Email:</label>
            <input  type="text" name="email" id="email">
            <label class="errorMessage"> {{errorMessages}} </label>

            <label for="twitter">Twitter:</label>
            <input type="text" name="twitter" id="twitter">
            <label class="errorMessage"> {{errorMessages}} </label>

            <label for="github">Github:</label>
            <input type="text" name="github" id="github">
        </section>

        <section class="button-container">
            <button class="create-button" type="submit"> Create </button>
            <button onclick="clearAllFileds()" class="cancel-button" > Cancel </button>
        </section>
    </form>
